/*Обнулення*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}



* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

/*START HEADER-------------------------------------------------------------------*/
.header {
  overflow: hidden;
  position: relative;
  height: 100%;
  background-size: cover;
  background-position: center;

}

.background {
  opacity: 0.85;
  position: absolute;
}

.header-overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
}


@media (max-width: 768px) {
  .nav-container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.logo {
  font-size: 32px;
  font-weight: 800;
  color: #fff;
  display: flex;
}

.headerLogoText {
  font-family: Roboto, serif;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 100;
  padding-left: 10px;
}

.headerLogoText:hover {
  color: #0cb4b2;
}

.nav-wrapper {
}

/* ------------ Desktop navigation ----------- */

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}


@media (max-width: 1200px) {
  .nav {
    display: none;
  }
}

.nav__item {
  margin-right: 50px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  font-family: Roboto, serif;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  color: #fff;
}

.nav__link:hover {
  color: #00e0d0;
}

/* --------------- Mobile navigation button ----------- */

.menu-icon {
  z-index: 19;
  position: relative;
  display: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.menu-icon-line {
  position: relative;
  width: 30px;
  height: 5px;
  background-color: #fff;
}

.menu-icon-line::before {
  position: absolute;
  left: 0;
  top: -10px;
  content: '';
  width: 30px;
  height: 5px;
  background-color: #fff;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon-line::after {
  position: absolute;
  left: 0;
  top: 10px;
  content: '';
  width: 30px;
  height: 5px;
  background-color: #fff;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon.menu-icon-active .menu-icon-line {
  background-color: transparent;
}

.menu-icon.menu-icon-active .menu-icon-line::before {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.menu-icon.menu-icon-active .menu-icon-line::after {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}


.mobile-nav {
  z-index: 9;
  display: block;
  position: absolute;
  right: -350px;
  top: 0;
  height: 100%;
  width: 350px;
  padding: 50px;
  background-color: #2d264a;
  transition: transform 0.4s ease-in;
  opacity: 0.9;
}


@media (max-width: 768px) {
  .mobile-nav {
    width: 320px;
    right: -320px;
  }
}

.mobile-nav--active {
  transform: translateX(-100%);
}

.mobile-nav__title {
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 30px;
  color: #ffffff;
}

.mobile-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.mobile-nav__item {
  margin-bottom: 30px;
}

.mobile-nav__link {
  color: #fff;
  text-decoration: none;
  font-family: Roboto, serif;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.025em;
}

.mobile-nav__link:hover {
  color: #00e0d0;
}

.headerContent {
  margin-top: 180px;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;

}

h1  {
  font-family: PlayfairDisplay, serif;
  font-size: 32px;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.content p {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #ffffff;
  max-width: 780px;


}

.firstHr {
  display: flex;
  background-color: #1a8594;
  color: #1a8594;
  height: 2px;
  width: 50px;
  margin: 25px 48% 25px 48%;
}

.content button {
  font-family: HammersmithOne, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  color: #00e0d0;
  border: 1px solid #00e0d0;
  background: none;
  text-transform: uppercase;
  margin-top: 45px;
  padding: 10px 10px 10px 10px;
}

/*END HEADER--------------------------------------------------------------*/



/*START BLOCK2 OUR STORY----------------------------------------------------*/
.contentAfterHeader {
  height: 350px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}

@media (max-width: 890px) {
  .contentAfterHeader{
    display: flex;
    justify-content: center;
  }
}

.contentAfterHeader div {
  padding-top: 50px;
}


.ourStory {
  max-width: 650px ;
  width: 100%;
}

.ourStory h2 {
  font-family: PlayfairDisplay, serif;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #413d4b;
  text-transform: uppercase;
  margin: 0 0 25px 110px;

}

.ourStory p{
  opacity: 0.74;
  font-family: Roboto, serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  letter-spacing: 0.03em;
  color: #413d4b;
  margin-left: 110px;

}

.ourStory button {
  font-family: HammersmithOne, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  color: #00e0d0;
  border: 1px solid #00e0d0;
  background: none;
  text-transform: uppercase;
  margin: 35px 0 0 110px;
  padding: 10px 10px 10px 10px;
}

button:active {
  background: #0cb4b2;
  transition: backgroung 0s;
}


@media (max-width: 883px) {
  .afterStory {
    margin-top: 450px;
  }
}
/*END BLOCK2 OUR STORY----------------------------------------------------------*/



/*START BLOCK3 AFTER STORY--------------------------------------------*/
.afterStory {
  overflow: hidden;
  position: relative;
  height: 550px;
}
/*END BLOCK3 AFTER STORY----------------------------------------*/



/*START BLOCK4 EXPERTISE-----------------------------------------------------------------*/
.expertiseHeader {
  text-align: center;
  margin: 50px 0 50px 0;
}

.expertiseHeader h2 {
  font-family: PlayfairDisplay, serif;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #413d4b;
}

.expertiseHeader p {
  opacity: 0.74;
  font-family: PlayfairDisplay, serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.075em;
  color: #2f2d35;
  margin-top: 15px;
}


.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.expertise {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 250px;
  text-align: center;
  align-items: center;
  border-right: 1px solid black;
  border-bottom: 1px solid black;

}
@media only screen and (max-width: 800px) {
  .expertise:nth-of-type(2n + 1) figure {
    float: none;
  }
}

.expertise p {
  opacity: 0.74;
  font-family: Roboto, serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #333333;
  margin: 20px 0 70px 0;
  text-align: center;
  width: 250px;
}

.expertise h3 {
  font-family: Roboto, serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.05em;
  color: #413d4b;
  text-align: center;
  margin-top: 20px
}

.expertise img {
  margin-top: 10px;
}
/*END BLOCK4 EXPERTISE-------------------------------------------------------*/



/*START BLOCK5 OUR TEAM--------------------------------------------------------------*/
.ourTeam {
  overflow: hidden;
  position: relative;
  height: 550px;

}

.forest {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

}

.aboutTeam {
  text-align: center;
  margin-top: 60px;
}

.aboutTeam h2 {

  font-family: PlayfairDisplay, serif;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.aboutTeam p {
  font-family: PlayfairDisplay, serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.075em;
  color: #f9f9f9;
}

.card {
  width: 220px;
  height: 100%;
  border: 1px solid white;
  margin-left: 20px;
}



.container {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cards {
  display: flex;
  justify-content: center;
}

.container h4 {
  font-family: Roboto, serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.container p {
  opacity: 0.7;
  font-family: Roboto, serif;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 300;
  color: #fafafa;
}
/*END BLOCK5 OUR TEAM-------------------------------------------------------------------------*/




/*START BLOCK6 OUR WORKS---------------------------------------------------------------*/
.ourWorks {
  display: flex;
  justify-content: space-around;
  max-height: 100%;
  margin: 75px 0 75px 0;
}

.ourWorks h2 {
  font-family: PlayfairDisplay, serif;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #413d4b;
  text-transform: uppercase;
}

.ourWorks p {
  font-family: Roboto, serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #413d4b;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;


}

.column {
  max-width: 200px
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
  }
}


.loadMore {
  display: flex;
  justify-content: center;
  margin: 25px 0 50px 0;
}
.loadMore button {

  font-family: HammersmithOne, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  color: #00e0d0;
  border: 1px solid #00e0d0;
  background: none;
  text-transform: uppercase;
  margin-top: 45px;
  padding: 10px 10px 10px 10px;

}

.loadMore button:active {
  background: #0cb4b2;
  transition: backgroung 0s;
}

.quoteBackground {
  opacity: 0.85;
  position: absolute;
}

.quote {
  position: relative;
  height: 500px;
  overflow: hidden;
}

.quoteText {
  position: absolute;
  left: 0;
  top: 80px;
  right: 0;
  bottom: 0;

}

.quoteText p:first-of-type {
  opacity: 0.85;
  font-family: PlayfairDisplay, serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
  text-align: center;
  max-width: 700px;
 display: block;
  margin: 45px auto;
}

.quoteText h4 {
  font-family: Roboto, serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 900;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-align: center;
  margin-top: 50px;

}

.quoteText p:last-of-type {
  opacity: 0.7;
  font-family: Roboto, serif;
  font-size: 13px;
  line-height: 22px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
}

.quoteText > img{
 display: block;
  margin: 0 auto;
}

.personPhoto {
  text-align: center;
  margin-top: 35px;
}

.personPhoto img {
  margin-left: 15px;
}
