/*Обнулення*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

/*START HEADER-------------------------------------------------------------------*/
.header {
  overflow: hidden;
  position: relative;
}

.background {
  opacity: 0.85;
  position: absolute;
}

.header-overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
  padding: 50px 50px 0 50px;
}


@media (max-width: 768px) {
  .nav-container {
    padding: 0 15px 0 15px;
  }
}

.logo {
  font-size: 32px;
  font-weight: 800;
  color: #fff;
  display: flex;
}

.headerLogoText {
  font-family: Roboto, serif;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 100;
  padding-left: 10px;
}

.headerLogoText:hover {
  color: #0cb4b2;
}


/* ------------ Desktop navigation ----------- */

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}


@media (max-width: 1200px) {
  .nav {
    display: none;
  }
}

.nav__item {
  margin-right: 50px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  font-family: Roboto, serif;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  color: #fff;
}

.nav__link:hover {
  color: #00e0d0;
}

/* --------------- Mobile navigation button ----------- */

.menu-icon {
  z-index: 19;
  position: relative;
  display: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.menu-icon-line {
  position: relative;
  width: 30px;
  height: 5px;
  background-color: #fff;
}

.menu-icon-line::before {
  position: absolute;
  left: 0;
  top: -10px;
  content: '';
  width: 30px;
  height: 5px;
  background-color: #fff;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon-line::after {
  position: absolute;
  left: 0;
  top: 10px;
  content: '';
  width: 30px;
  height: 5px;
  background-color: #fff;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon.menu-icon-active .menu-icon-line {
  background-color: transparent;
}

.menu-icon.menu-icon-active .menu-icon-line::before {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.menu-icon.menu-icon-active .menu-icon-line::after {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}


.mobile-nav {
  z-index: 9;
  display: block;
  position: absolute;
  right: -350px;
  top: 0;
  height: 100%;
  width: 350px;
  padding: 50px;
  background-color: #2d264a;
  transition: transform 0.4s ease-in;
  opacity: 0.9;
}


@media (max-width: 768px) {
  .mobile-nav {
    width: 320px;
    right: -320px;
  }
}

.mobile-nav--active {
  transform: translateX(-100%);
}

.mobile-nav__title {
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 30px;
  color: #ffffff;
}

.mobile-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.mobile-nav__item {
  margin-bottom: 30px;
}

.mobile-nav__link {
  color: #fff;
  text-decoration: none;
  font-family: Roboto, serif;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.025em;
}

.mobile-nav__link:hover {
  color: #00e0d0;
}

.headerContent {
  margin-top: 180px;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;

}

h1  {
  font-family: PlayfairDisplay, serif;
  font-size: 32px;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.content p {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #ffffff;
  max-width: 780px;


}

.firstHr {
  display: flex;
  background-color: #1a8594;
  color: #1a8594;
  height: 2px;
  width: 50px;
  margin: 25px 48% 25px 48%;
}

.content button {
  font-family: HammersmithOne, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  color: #00e0d0;
  border: 1px solid #00e0d0;
  background: none;
  text-transform: uppercase;
  margin-top: 45px;
  padding: 10px 10px 10px 10px;
}

/*END HEADER--------------------------------------------------------------*/



/*START BLOCK2 OUR STORY----------------------------------------------------*/
.contentAfterHeader {
  height: 350px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

@media (max-width: 890px) {
  .contentAfterHeader{
    display: flex;
    justify-content: center;
  }
}

.contentAfterHeader div {
  padding-top: 50px;
}


.ourStory {
  max-width: 650px ;
  width: 100%;
}

.ourStory h2 {
  font-family: PlayfairDisplay, serif;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #413d4b;
  text-transform: uppercase;
  margin: 0 0 25px 110px;

}

.ourStory p{
  opacity: 0.74;
  font-family: Roboto, serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  letter-spacing: 0.03em;
  color: #413d4b;
  margin-left: 110px;

}

.ourStory button {
  font-family: HammersmithOne, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  color: #00e0d0;
  border: 1px solid #00e0d0;
  background: none;
  text-transform: uppercase;
  margin: 35px 0 0 110px;
  padding: 10px 10px 10px 10px;
}

button:active {
  background: #0cb4b2;
  transition: backgroung 0s;
}


@media (max-width: 883px) {
  .video {
    margin-top: 450px;
  }
}
/*END BLOCK2 OUR STORY----------------------------------------------------------*/



/*START BLOCK3 AFTER STORY--------------------------------------------*/
.video {
  overflow: hidden;
  position: relative;
  height: 550px;
}

.videoButton {
  position: absolute;
  top: 45%;
  right: 0;
  bottom: 0;
  left: 45%;
}

.play {
  transform: translate(35px, -70px);
}

.video h2 {
  position: absolute;
  left: 44%;
  bottom: 30%;
  font-family: Roboto, serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.05em;
  color: #ffffff;
}
/*END BLOCK3 AFTER STORY----------------------------------------*/



/*START BLOCK4 EXPERTISE-----------------------------------------------------------------*/
.expertiseHeader {
  text-align: center;
  margin: 50px 0 50px 0;
}

.expertiseHeader h2 {
  font-family: PlayfairDisplay, serif;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #413d4b;
}

.expertiseHeader p {
  opacity: 0.74;
  font-family: PlayfairDisplay, serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.075em;
  color: #2f2d35;
  margin-top: 15px;
}


.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.expertise {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 250px;
  text-align: center;
  align-items: center;

}

.expertise:nth-child(1) {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.expertise:nth-child(2) {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.expertise:nth-child(3) {
  border-bottom: 1px solid black;
}

.expertise:nth-child(4) {
  border-right: 1px solid black;
}

.expertise:nth-child(5) {
  border-right: 1px solid black;
}

@media (max-width: 1050px){
  .expertise:nth-child(1) {
    border: none;
  }

  .expertise:nth-child(2) {
    border: none;
  }

  .expertise:nth-child(3) {
    border: none;
  }

  .expertise:nth-child(4) {
    border: none;
  }

  .expertise:nth-child(5) {
    border: none;
  }

}
@media only screen and (max-width: 800px) {
  .expertise:nth-of-type(2n + 1) figure {
    float: none;
  }
}

.expertise p {
  opacity: 0.74;
  font-family: Roboto, serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #333333;
  margin: 20px 0 70px 0;
  text-align: center;
  width: 250px;
}

.expertise h3 {
  font-family: Roboto, serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.05em;
  color: #413d4b;
  text-align: center;
  margin-top: 20px
}

.expertise img {
  margin-top: 10px;
}
/*END BLOCK4 EXPERTISE-------------------------------------------------------*/



/*START BLOCK5 OUR TEAM--------------------------------------------------------------*/
.ourTeam {
  overflow: hidden;
  position: relative;
  height: 670px;
  margin-top: 70px;

}

.forest {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

}

.aboutTeam {
  text-align: center;
  margin-top: 60px;
}

.aboutTeam h2 {

  font-family: PlayfairDisplay, serif;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.aboutTeam p {
  font-family: PlayfairDisplay, serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.075em;
  color: #f9f9f9;
}

.card {
  width: 220px;
  height: 100%;
  border: 1px solid white;
  margin-left: 20px;
}



.formContainer {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cards {
  display: flex;
  justify-content: center;
}

.formContainer h4 {
  font-family: Roboto, serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.formContainer p {
  opacity: 0.7;
  font-family: Roboto, serif;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 300;
  color: #fafafa;
}
.afterCards {
  text-align: center;
  margin-top: 60px;
}

.afterCards p {
  font-family: Roboto, serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #f3f3f3;
  margin-bottom: 25px;
}

.afterCards button {
  width: 140px;
  height: 40px;
  border: 1px solid #00e0d0;
  font-family: HammersmithOne, serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #00e0d0;
  background: none;
}

.afterCards button:active {
  background: #0cb4b2;
  transition: backgroung 0s;
}
/*END BLOCK5 OURTEAM-------------------------------------------------------------------------*/




/*START BLOCK6 OUR WORKS---------------------------------------------------------------*/
.ourWorks {
  display: flex;
  justify-content: space-around;
  max-height: 100%;
  margin: 75px 0 75px 0;
}

.ourWorks h2 {
  font-family: PlayfairDisplay, serif;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #413d4b;
  text-transform: uppercase;
}

.ourWorks p {
  font-family: Roboto, serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #413d4b;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;


}

.column {
  max-width: 200px
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
  }
}


.loadMore {
  display: flex;
  justify-content: center;
  margin: 25px 0 50px 0;
}
.loadMore button {

  font-family: HammersmithOne, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  color: #00e0d0;
  border: 1px solid #00e0d0;
  background: none;
  text-transform: uppercase;
  margin-top: 45px;
  padding: 10px 10px 10px 10px;

}

.loadMore button:active {
  background: #0cb4b2;
  transition: backgroung 0s;
}
/*END BLOCK6 OUR WORKS*/



/*START BLOCK7 QUOTE*/
.quoteBackground {
  opacity: 0.85;
  position: absolute;
}

.quote {
  position: relative;
  height: 500px;
  overflow: hidden;
}

.quoteText {
  position: absolute;
  left: 0;
  top: 50px;
  right: 0;
  bottom: 0;

}

.quoteText p:first-of-type {
  opacity: 0.85;
  font-family: PlayfairDisplay, serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
  text-align: center;
  max-width: 700px;
  display: block;
  margin: 45px auto;
}

.quoteText h4 {
  font-family: Roboto, serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 900;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-align: center;
  margin-top: 50px;

}

.quoteText p:last-of-type {
  opacity: 0.7;
  font-family: Roboto, serif;
  font-size: 13px;
  line-height: 22px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
}

.quoteText > img{
  display: block;
  margin: 0 auto;
}

.personPhoto {
  text-align: center;
}

.personPhoto img {
  margin: 5px;
}
/*END BLOCK7 QUOTE*/




/*START BLOCK8 FORMAND SUPPORT*/
.formSupportBody {
  display: flex;
  justify-content: space-around;
  padding: 70px 0;
}

.form {
  max-width: 460px;
}

.formSupportBody h2 {
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #413d4b;
  margin-right: 150px;
}

.formSupportBody input {
  display: block;
  border: 1px solid black;
  opacity: 0.5;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #413d4b;
  padding: 18px 21px;
  width: 100%;
}

.name {
  margin: 35px 0 0 0;
}

.email {
  margin: 23px 0 0 0;
}

.subject {
  margin: 21px 0 0 0;
}

.formSupportBody textarea {
  width: 100%;
  border: 1px solid black;
  margin: 21px 0 0 0;
  opacity: 0.5;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #413d4b;
  padding: 22px 20px;
}

.formSupportBody button {
  margin: 21px 350px 0 0;
  padding: 10px 33px;
  font-family: HammersmithOne, serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #00e0d0;
  background: none;
  border: 1px solid #00e0d0;
}

.formSupportBody button:active {
  background: #0cb4b2;
  transition: backgroung 0s;
}

.clients h2 {
  margin: 0 0 50px 0;
}

.client > img {
  max-width: 100%;
}

.client {
  flex: 50%;
  margin: 0 0 40px 0;
  padding: 10px;
}

.clients {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 450px;
  margin-top: 50px;
}

@media(max-width: 920px) {
  .formSupportBody {
    display: block;
  }

  .ourClients {
    margin-top: 50px;
  }

  .form {
    margin: 0 auto;
  }

  .clients {
    margin: 70px auto 0;
    text-align: center;
  }
}

@media(min-width: 920px) {
  .form {
    width: 460px;
  }

}
/*END BLOCK8 FORMANDSUPPORT*/



/*START BLOCK9 FOOTER*/
footer {
  overflow: hidden;
  position: relative;
  height: 400px;
  margin-top: 70px;

}

footer h2 {
  font-family: Roboto,serif;
  font-size: 15px;
  line-height: 26px;
  font-weight: 900;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.allFooter{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;

}

.footerLogoText {
  color: #0cb4b2;
  font-family: Roboto,serif;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 100;
  margin-left: 10px;
}

.footerLogo {
  display: flex;
  height: 50px;

}

.footerContent {
  font-family: Roboto,serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #ffffff;
  width: 283px;
  margin-top: 25px;
}

.help {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}


.location {
  display: flex;
  margin-top: 40px;
}

.location img {
  height: 19px;
}

.location p {
  width: 237px;
  margin-left: 10px;

}

.phone {
  display: flex;
  margin-top: 15px;
}

.phone img {
  height: 17px;
}

.phone p {
  margin-left: 10px;
}

.contactInfo p {
  font-family: Roboto, serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #ffffff;
}
.newsletter {
  display: flex;
  margin-top: 40px;
}
.newsletter p {
  font-family: Roboto,serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #ffffff;
  width: 211px;
  border: 1px solid #ffffff;
  height: 45px;
  padding: 8px;
  opacity: 0.74;
}

.newsletter img {
  height: 25px;
  margin: 10px 0 0 20px;
  border: 1px solid silver;
  background-color: #ffffff;
  opacity: 0.5;
}

.allFooter {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  flex-wrap: wrap;
}

.socialNetworks {
  display: flex;
  margin: 20px 0 0 10px;
}

.networkName {
  transform: translate(-29px,11px);
}

.networkFacebook {
  transform: translate(-25px,11px);
}
.socialNetworks div{
  margin-left: -8px;
}

.copyright {
  font-family: Roboto,serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
  margin-top: 80px;
}

@media (max-width: 823px) {
  footer {
    height: 870px;
    background-image: url("img/background.png");
  }
  .ourStudio {
    margin-top: 70px;
  }
}
/*END BLOCK9 FOOTER*/
